<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 Wildlife Images Rehabilitation and Education Center -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wildlifeimages.android.wildlifeimages"
    android:versionCode="3"
    android:versionName="Expo" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/wildlifeimages_logo"
        android:label="@string/app_name"
        android:logo="@drawable/action_logo_0"
        android:theme="@style/WireTheme" >
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:logo="@drawable/action_logo_1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MapActivity"
            android:label="@string/empty_string" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ExhibitActivity"
            android:label="@string/empty_string" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ExhibitListActivity"
            android:label="@string/empty_string" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="AudioActivity"
            android:label="@string/empty_string" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="UpdateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/empty_string" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="VideoActivity"
            android:label="@string/empty_string"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="PhotosActivity"
            android:label="@string/empty_string" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="EventsActivity"
            android:label="@string/empty_string" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="LoadingActivity"
            android:label="@string/empty_string"
            android:logo="@drawable/action_logo_1" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>